<p id="notice"><%= notice %></p>

<p>
  <b>Text:</b>
  <%= @question.text %>
</p>

<p>
  <b>Order:</b>
  <%= @question.order %>
</p>

<p>
  <b>Section:</b>
  <%= @question.section.title %>
</p>


<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', sections_path %>
