<%= form_for(@student_score) do |f| %>
  <% if @student_score.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student_score.errors.count, "error") %> prohibited this student_score from being saved:</h2>

      <ul>
      <% @student_score.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="field">
    <%= f.label :student %><br />
    <%= select("student_score", "student_id", @students.collect {|student| [ student.name, student.id ] }, { :include_blank => true }) %>
  </div>

    <div class="field">
    <%= f.label :exam %><br />
    <%= select("student_score", "exam_id", @exams.collect {|exam| [ exam.title, exam.id ] }, { :include_blank => true }) %>
  </div>

    <div class="field">
    <%= f.label :student_score %><br />
    <%= f.text_field :student_score %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
