<h1>Listing student_scores</h1>

<table>
  <tr>
    <th>Student</th>
    <th>Subject</th>
    <th>Exam</th>
    <th>Score</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @student_scores.each do |student_score| %>
  <tr>
    <td><%= @student_name %></td>
    <td><%= ExamSubject.find(student_score.exam_id).name %>
    <td><%= Exam.find(student_score.exam_id).title %></td>
    <td><%= student_score.student_score %></td>
    <td><%= link_to 'Show', student_score %></td>
    <td><%= link_to 'Edit', edit_student_score_path(student_score) %></td>
    <td><%= link_to 'Destroy', student_score, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Student score', new_student_score_path %>
