<p id="notice"><%= notice %></p>

<p>
  <b>Student:</b>
  <%= @student_score.student_id %>
</p>

<p>
  <b>Exam:</b>
  <%= @student_score.exam_id %>
</p>

<p>
  <b>Score:</b>
  <%= @student_score.student_score %>
</p>


<%= link_to 'Edit', edit_student_score_path(@student_score) %> |
<%= link_to 'Back', student_scores_path %>
