<h1>Listing student_genders</h1>

<table>
  <tr>
    <th>Student</th>
    <th>Gender</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @student_genders.each do |student_gender| %>
  <tr>
    <td><%= student_gender.student %></td>
    <td><%= student_gender.gender %></td>
    <td><%= link_to 'Show', student_gender %></td>
    <td><%= link_to 'Edit', edit_student_gender_path(student_gender) %></td>
    <td><%= link_to 'Destroy', student_gender, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Student gender', new_student_gender_path %>
