<div id="dashboard_header">

	<h2>Welcome, <% if @user  %> 
		<%= @user.name %>
	<% end %>
	</h2>

	<div class="info_block">
	Welcome to the Administration Dashboard.  Here you can view the status of student applications to the Early Readiness High School Graduation Option from your district.
	</div>

	<div class="user_info">
		<% if @user %>
			<h4>Your Information</h4>
			<p><%= @user.name %></p>
			
			<% if @user.role %>
				<p>Role: <%= @user.role %></p>
			<% end %>
			
			<% if @user.highschool %>
				<p>From <%= link_to @user.highschool.name, @user.highschool %>
			<% elsif @user.university %>
				<p>From <%= link_to @user.university.name, @user.university %>
			<% elsif @user.district %>
				<p>From <%= link_to @user.district.name, @user.district %>
			<% end %>

		<% end %>

	</div><!-- end userinfo-->

	<div class="row">
	<div class="span3">
	<div class="quick_stats">
		<h4>Quick Stats</h4>
		<div class="registered"><strong>Registered</strong> <%= @registered.count.to_s %></div>
		<div class="incomplete"><strong>Need Scores</strong> <%= @needs_scores.count.count.to_s %></div>	
		<div class="scores"><strong>With Scores</strong> <%= @has_scores.count.count.to_s %></div>
		<div class="accepted"><strong>Accepted</strong> <%= @accepted.count.to_s %></div>
	</div><!--end quickstats-->

	<div class="filter_options">
		
		<h4>Filter Students</h4>
		
			<%= simple_form_for @search, :html => {:class => 'form-horizontal'} do |f| %>
	 
		    <%= f.input :name_contains, :placeholder => "Search...", :label => '' %>
		 
		<div class="gender_filter">
	 		<h3>Gender</h3>
	 		<%= f.input :gender do %>
	    		<% f.collection_checks :gender_id_in, Gender.all, :id, :gender, :class => 'gender_class' do |check| %>   	
	    			<%= check.box %> 
	    			<%= check.label %> 	<div class="clear"></div>
	    		<% end #end collection_checks of genders%>
	    	<% end %>
	    </div><!-- end gender_filter -->

	    	
		<% if @user.district %>
			<div class="higschool_filter">
			 	<h3>Highschools in Your District </h3>
	 		<%= f.input :highschool do %>
			    <%= f.collection_checks :highschool_id_in, @user.district.highschools.all, :id, :name, :class => 'highschool_class' do |check| %>
			    	<%= check.box %>
			    	<%= check.label %>
			    <% end %>
			<% end %>
			</div>
		<% end #end user.district %>


		<% if @user.role == "SuperAdmin" %>
	 		
	 		<div class="district_filter">
	 			
	 			<h3>Districts and Highschools</h3>
	 				
	 				<% #District.all.each do |d| %>
						<div class="district_class">
								<%= f.input :highschool do %>
			    <%= f.collection_checks :highschool_id_in, Highschool.all, :id, :name, :class => 'highschool_class' do |check| %>
			    	<%= check.box %>
			    	<%= check.label %>
			    <% end %>
			<% end %>
						</div><!--end district_class -->
					<% #end #end district loop %>				
			</div><!--end district_filter -->
		<% end #end superadmin %>
	
	</div><!--end filter options -->
</div><!--end span3-->
	
	<div id="exams" class="span9">
	<div class="row">
	
	<% @subjects.each do |subject| %>
  	<div class="span2">
  	<%= f.input :scores_exam_id_in, :collection => subject.exams.all, :as => :check_boxes, :label_method => :displayname, :label => subject.name %>
  	</div>
	<% end %>




	 <p class="button span2"><%= f.submit "Search" %></p>

	 <p>Remember what happened last time?</p>

	 <% if params[:search] %>
	 <% params[:search].each do |option| %>
	 	<%= option.to_s%>
	 <% end %>
	 <% end %>

	</div><!-- end span3-->
	</div><!--end row-->

	<% end #end form %>
</div>

</div><!-- end dashboard-->