<div id="dashboard_header">
<h2>Welcome, <% if @user  %> 
	<%= @user.name %>
<% end %>
</h2>
<div class="clear"></div>
<div class="info_block">
Welcome to the Administration Dashboard.  Here you can view the status of student applications to the Early Readiness High School Graduation Option from your district.
</div>

<div class="user_info">
	<h4>Your Information</h4>
	<p><%= @user.name %></p>

</div>

<div class="quick_stats">
	<h4>Quick Stats</h4>
	<div class="registered"><strong>Registered</strong> <%= @students.count.to_s %></div>
	<div class="incomplete"><strong>Need Scores</strong> <%= @needs_scores.count.count.to_s %></div>	
	<div class="scores"><strong>With Scores</strong> <%= @has_scores.count.count.to_s %></div>
	<div class="accepted"><strong>Accepted</strong> <%= @accepted.count.to_s %></div>

</div>

<div class="filter_options">
	<h4>Filter Students</h4>
	<div id="clear_filter">
		<%= link_to "All Students", students_path %>
	</div>
	<div id="girls">
	<%= link_to "Female", students_path(:scope => "female" ) %>
	</div>
	<div id="boys">
	<%= link_to "Male", students_path(:scope => "male" ) %>
	</div>

	<div id="exams">

	
<div class="each_subject">

<% @subjects.each do |subject| %>
<div class="each_subject">
  <h4 class="subject"><%= link_to subject.name, subject %></h4>
  	<% subject.exams.each do |exam| %>
      <% exam_name_display = '' %>
      
    <% if exam.subtopic %>

        <% exam_name_display = exam_name_display +  exam.shortname %>
        <% if exam.subtopic.name.size <= 9 %>
        	<% exam_name_display = exam_name_display + ' ' + exam.subtopic.name %>
        <% end #end exam subtopic size %> 
        
        <% if exam.subshortname %>
          <% exam_name_display = exam_name_display + ' ' + exam.subshortname %>
        <% end #end exam subhosrtname %>
      
     <% else #no subtopic %>
        <% if exam.shortname %>
        	
        	<% exam_name_display = exam_name_display + ' ' + exam.shortname + ' ' + subject.name %>
        	
        	<% if exam.subshortname %>
            	<% exam_name_display = exam_name_display + ' ' + exam.subshortname %>
          	<% end #end exam.subshortname %>
        <% end #end exam.shortname %>
 
		
  	<% end #subtopic %>
<%= link_to exam_name_display, students_path(:exam => exam) %> <br/>
	<% end #end exam %>
  </div>
  <% end #end subject %>
	</div>

</div>

</div>
