
<div class="row-fluid">
	<div class="span3">




	<div class="user_info">
		<% if @user %>
			<h3>Your Information</h3>
			<p><%= @user.name %></p>
			
			<% if @user.role %>
				<p>Role: <%= @user.role %></p>
			<% end %>
			
			<% if @user.highschool %>
				<p>From <%= link_to @user.highschool.name, @user.highschool %></p>
			<% elsif @user.university %>
				<p>From <%= link_to @user.university.name, @user.university %></p>
			<% elsif @user.district %>
				<p>From <%= link_to @user.district.name, @user.district %></p>
			<% end %>

		<% end %>

	</div><!-- end userinfo-->


	<div class="quick_stats">
		<h4>Quick Stats</h4>
		<div class="registered"><strong>Registered</strong> <%= @registered.count.to_s %></div>
		<div class="incomplete"><strong>Need Scores</strong> <%= @needs_scores.count.count.to_s %></div>	
		<div class="scores"><strong>With Scores</strong> <%= @has_scores.count.count.to_s %></div>
		<div class="accepted"><strong>Accepted</strong> <%= @accepted.count.to_s %></div>
	</div><!--end quickstats-->


<hr />
<h3>Filter Students</h3>
		
		<div class="well">
	

		
			<%= form_for @search do |f| %>
	 
	 		<div>
	 		<h5>Search</h5>
		    <%= f.text_field :name_contains, :placeholder => "Search...", :class => 'input-medium search-query' %>
		 	</div>


	 		<h5>Gender</h5>
	 		<div class="btn-toolbar">
		 		<div class="btn-group">
		    		<% f.collection_checks :gender_id_in, Gender.all, :id, :gender, :class => 'gender_class' do |check| %>   	
		    			<%= check.box %> 
		    			<%= check.label %> 
		    		<% end #end collection_checks of genders%>
		  		</div>
	  		</div>
	  	



		
		<% if @user.highschool %>
	 		
		<h5>University</h5>
	 		<div class="btn-toolbar">
		 		<div class="btn-group">
		    		<% f.collection_checks :interested_universities_university_id_in, University.all, :id, :name, :class => 'university_class' do |check| %>   	
		    			<%= check.box %> 
		    			<%= check.label %> 
		    		<% end #end collection_checks of universities%>
		  		</div>
	  		</div>
	  	</div>

						
		<% end #end higschool admin %>

		<% if @user.district %>

		 					<h6>Schools in <%= @user.district.name %></h6>
		 						<div class="btn-group" data-toggle="buttons-checkbox">
							<%= f.collection_checks :highschool_id_in, @user.district.highschools.all, :id, :name, :class => 'highschool_class' do |check| %>
								<%= check.box %>
								<%= check.label %>
							
							<% end %>
						</div>
		<% end %>
	


	 		
		<% if @user.role == "SuperAdmin" %>
	 		
		<h5>University</h5>
	 		<div class="btn-toolbar">
		 		<div class="btn-group">
		    		<% f.collection_checks :interested_universities_university_id_in, University.all, :id, :name, :class => 'university_class' do |check| %>   	
		    			<%= check.box %> 
		    			<%= check.label %> 
		    		<% end #end collection_checks of genders%>
		  		</div>
	</div>
			

	 		<h5>District and School</h5>
					<div class="btn-toolbar">
		    	
		 			<% District.all.each do |district| %>
				 		<div class="btn-group" data-toggle="buttons-checkbox">
		 					<%= check_box_tag('search[highschool_district_id_in][]', district.id, params.include?(:search) && params[:search].include?(:highschool_district_id_in) && params[:search][:highschool_district_id_in].include?(district.id), { :class => 'btn', :id => 'search_highschool_district_id_in_' + district.id.to_s })  %>
		 					<%= label('search_highschool_district_id_in_', district.id, district.name) %>
		 					<a class="btn btn-mini" data-toggle="collapse" data-target="#schools_<%= district.id %>"><span class="caret"></span></a>
		 					</div>
		 			<% end %>
		 	
	

		 		<% District.all.each do |district| %>

		 					<div id="schools_<%= district.id %>" class="collapse">
		 					<h6><%= district.name %></h6>
		 						<div class="btn-group" data-toggle="buttons-checkbox">
							<%= f.collection_checks :highschool_id_in, district.highschools.all, :id, :name, :class => 'highschool_class' do |check| %>
								<%= check.box %>
								<%= check.label %>
							
							<% end %>
						</div>
						<br/>
						</div>
						<% end %>		
					</div>		
						
		<% end #end superadmin %>

<hr/>
		<% @subjects.each do |subject| %>
			<div class="btn-group" data-toggle="buttons-checkbox">
			 	<a class="btn btn-mini" data-toggle="collapse" data-target="#examsfor_<%= subject.name %>"><%= subject.name %> <span class="caret"></span></a>
			</div>
		<% end %>

	<% @subjects.each do |subject| %>
	<div class="collapse" id="examsfor_<%= subject.name %>">
  		<div class="btn-toolbar">
		 		<div class="btn-group">
	
		<%= f.collection_checks :scores_exam_id_in, subject.exams.all, :id, :displayname, :class => 'exams_class' do |check| %>
			<%= check.box %>
				<%= check.label %>
		<% end %>
		</div>
	</div>
</div>
	<% end %>

	
<%= f.submit "Search", :class=>'btn btn-primary btn-large' %>
	<% end #end form %>

</div>
</div>

	<div class="span9">
	<h2>Welcome, <% if @user  %> 
		<%= @user.name %>
	<% end %>
	</h2>


	<div class="info_block">
	<p>Welcome to the Administration Dashboard.  Here you can view the status of student applications to the Early Readiness High School Graduation Option from your district.</p>
	</div>