<div id="dashboard_header">
<h2>Welcome, <% if @user  %> 
	<%= @user.name %>
<% end %>
</h2>
<div class="clear"></div>
<div class="info_block">
Welcome to the Administration Dashboard.  Here you can view the status of student applications to the Early Readiness High School Graduation Option from your district.
</div>

<div class="user_info">
	<h4>Your Information</h4>
	<p><%= @user.name %></p>

</div>
<div class="row">
<div class="quick_stats span2">
	<h4>Quick Stats</h4>
	<div class="registered"><strong>Registered</strong> <%= @registered.count.to_s %></div>
	<div class="incomplete"><strong>Need Scores</strong> <%= @needs_scores.count.count.to_s %></div>	
	<div class="scores"><strong>With Scores</strong> <%= @has_scores.count.count.to_s %></div>
	<div class="accepted"><strong>Accepted</strong> <%= @accepted.count.to_s %></div>

</div>

<div class="filter_options row">
	<h4>Filter Students</h4>
	<div id="demographics" class="span2">
	
		<div id="clear_filter">
			<%= link_to "All Students", students_path %>
		</div>
		
		<div id="girls">
		<%= link_to "Female", students_path(:scope => "female" ) %>
		</div>
		
		<div id="boys">
		<%= link_to "Male", students_path(:scope => "male" ) %>
		</div>

	</div>

	<div id="exams" class="span8">

	<div class="each_subject row">
 
<%= form_for @search do |f| %>
  <p>
    <%= f.label :name_contains %>
    <%= f.text_field :name_contains %>
  </p>
<% @subjects.each do |subject| %>
<div class="each_subject span2">
  <h4 class="subject"><%= link_to subject.name, subject %></h4>
  	<% exam_name_display = '' %>  	
  	<% subject.exams.each do |exam| %>
	
	
      
    <% if exam.subtopic %>

        <% exam_name_display = exam_name_display +  exam.shortname %>
        <% if exam.subtopic.name.size <= 9 %>
        	<% exam_name_display = exam_name_display + ' ' + exam.subtopic.name %>
        <% end #end exam subtopic size %> 
        
        <% if exam.subshortname %>
          <% exam_name_display = exam_name_display + ' ' + exam.subshortname %>
        <% end #end exam subhosrtname %>
      
     <% else #no subtopic %>
        <% if exam.shortname %>
        	
        	<% exam_name_display = exam_name_display + ' ' + exam.shortname + ' ' + subject.name %>
        	
        	<% if exam.subshortname %>
            	<% exam_name_display = exam_name_display + ' ' + exam.subshortname %>
          	<% end #end exam.subshortname %>
        <% end #end exam.shortname %>
 
		
  	<% end #subtopic %>
	


	<% end #end exam %>


  </div>



  <% end #end subject %>
	</div>
	
<% f.collection_checks :scores_exam_id_in, @exams,
    :id, :displayname, :class => 'exams_class' do |check| %>   
  	
    <% #check.label = check.label.gsub(/>.*<\//, '>'+exam_name_display+'</').html_safe %> 
 	  	<%= check.box %> <%= check.label %>
 	  	  	  	 	
	<% end %>


</div>
</div>

</div>



  <p class="button"><%= f.submit "Search" %></p>
<% end %>