
<div class="row-fluid">
	<div class="span3">




	<div class="user_info">
		<% if @user %>
			<h3>Your Information</h3>
			<p><%= @user.name %></p>
			
			<% if @user.role %>
				<p>Role: <%= @user.role %></p>
			<% end %>
			
			<% if @user.highschool %>
				<p>From <%= link_to @user.highschool.name, @user.highschool %></p>
			<% elsif @user.university %>
				<p>From <%= link_to @user.university.name, @user.university %></p>
			<% elsif @user.district %>
				<p>From <%= link_to @user.district.name, @user.district %></p>
			<% end %>

		<% end %>

	</div><!-- end userinfo-->


	<div class="quick_stats">
		<h4>Quick Stats</h4>
		<div class="registered"><strong>Registered</strong> <%= @registered.count.to_s %></div>
		<div class="incomplete"><strong>Need Scores</strong> <%= @needs_scores.count.count.to_s %></div>	
		<div class="scores"><strong>With Scores</strong> <%= @has_scores.count.count.to_s %></div>
		<div class="accepted"><strong>Accepted</strong> <%= @accepted.count.to_s %></div>
	</div><!--end quickstats-->


<hr />
<div id="sidebar">
<h3>Filter Students</h3>
	<br />	
		<div class="well">
	

		
			<%= form_for @search do |f| %>
	 
	 		<h5>Search</h5>
		    <br/>
		    <%= f.text_field :name_contains, :placeholder => "Search...", :class => 'input-medium search-query' %>
		
<hr />

	 		<h5>Gender <a data-toggle="collapse" data-target="#gender_choices"><span class="btn btn-mini"><b class="caret"></b></span></a></h5>
	 		<div id="gender_choices" class="collapse">
	 		<br/>
		    		<% f.collection_checks :gender_id_in, Gender.all, :id, :gender, :class => 'gender_class' do |check| %>   	
		    			<%= check.box %> 
		    			<%= check.label %> 
		    		<% end #end collection_checks of genders%>
		  	</div>
	  	
<hr />


		
		<% if @user.highschool || @user.district %>
	 		
		<h5>University <a data-toggle="collapse" data-target="#university_choices"><span class="btn btn-mini"><b class="caret"></b></span></a></h5>
		<div class="collapse" id="university_choices">
			<br />
	 			<% f.collection_checks :interested_universities_university_id_in, University.all, :id, :name, :class => 'university_class' do |check| %>   	
		    		<%= check.box %> 
		    		<%= check.label %> 
		
				<% end #end collection_checks of universities%>
		
			
		</div>
		<hr/>
		<% end #end higschool or district admin %>

		<% if @user.district %>
		 	<h5>Schools in <%= @user.district.name %> <a data-toggle="collapse" data-target="#highschools_indistrict"><span class="btn btn-mini"><b class="caret"></b></span></a></h5>
		 		<div class="collapse" id="highschools_indistrict">
		 		<br />
		 			<%= f.collection_checks :highschool_id_in, @user.district.highschools.all, :id, :name, :class => 'highschool_class' do |check| %>
						<%= check.box %>
						<%= check.label %>
							
					<% end %>
			</div>
			<hr/>
		<% end %>

		<% if @user.university %>

		<h5>Districts and Schools<a data-toggle="collapse" data-target="#district_container"><span class="btn btn-mini"><b class="caret"></b></span></a></h5>
	 	
	 	<div id="district_container" class="collapse">
		<br/>
		 <% @districts.each do |district| %>
		 <%= check_box_tag('search[highschool_district_id_in][]', district.id, params.include?(:search) && params[:search].include?(:highschool_district_id_in) && params[:search][:highschool_district_id_in].include?(district.id), { :class => 'btn', :id => 'search_highschool_district_id_in_' + district.id.to_s })  %>
		 		<div class="label_wrap"><%= label('search_highschool_district_id_in_', district.id, district.name) %><a data-toggle="collapse" data-target="#highschools_<%= district.id %>"><span class="btn btn-mini"><b class="caret"></b></span></a></div>

		 	<div id="highschools_<%= district.id %>" class="collapse">
		 		<br/>
		 			<%= f.collection_checks :highschool_id_in, district.highschools.all, :id, :name, :class => 'highschool_class' do |check| %>
						<%= check.box %>
						<%= check.label %>
					<% end %>
					<% if district != @districts.last %>	
					<hr /> 
					<% end %>	
		
			</div>
			<br/>
						<% end %>
		</div>		
		<hr />
	
		<% end %>

	 		
		<% if @user.role == "SuperAdmin" %>
	 		
		<h5>University <a data-toggle="collapse" data-target="#university_choices"><span class="btn btn-mini"><b class="caret"></b></span></a></h5>
		<div class="collapse" id="university_choices">
			<br />
	 	    		<% f.collection_checks :interested_universities_university_id_in, University.all, :id, :name, :class => 'university_class' do |check| %>   	
		    			<%= check.box %> 
		    			<%= check.label %> 
		    		<% end #end collection_checks of genders%>
			
	</div>

	<hr />

	 	<h5>Districts and Schools  <a data-toggle="collapse" data-target="#district_container"><span class="btn btn-mini"><b class="caret"></b></span></a></h5>
	 	
	 	<div id="district_container" class="collapse">
		<br/>
		 <% @districts.each do |district| %>
		 <%= check_box_tag('search[highschool_district_id_in][]', district.id, params.include?(:search) && params[:search].include?(:highschool_district_id_in) && params[:search][:highschool_district_id_in].include?(district.id), { :class => 'btn', :id => 'search_highschool_district_id_in_' + district.id.to_s })  %>
		 		<div class="label_wrap"><%= label('search_highschool_district_id_in_', district.id, district.name) %><a data-toggle="collapse" data-target="#highschools_<%= district.id %>"><span class="btn btn-mini"><b class="caret"></b></span></a></div>

		 	<div id="highschools_<%= district.id %>" class="collapse">
		 		<br/>
		 			<%= f.collection_checks :highschool_id_in, district.highschools.all, :id, :name, :class => 'highschool_class' do |check| %>
						<%= check.box %>
						<%= check.label %>
					<% end %>
					<% if district != @districts.last %>	
					<hr /> 
					<% end %>	
		
			</div>
			<br/>
						<% end %>
		
			
		</div>		
		<hr />
		<% end #end superadmin %>

<h5>Exams <a data-toggle="collapse" data-target="#exams_container"><span class="btn btn-mini"><b class="caret"></b></span></a></h5>

	<div class="collapse" id="exams_container">
		<% @subjects.each do |subject| %>
			<br/>
			<p><%= subject.name %> <a data-toggle="collapse" data-target="#examsforsubject_<%= subject.id %>"><span class="btn btn-mini"><b class="caret"></b></span></a></p>
		
		<div id="examsforsubject_<%= subject.id %>" class="collapse">
			<br/>
		<%= f.collection_checks :scores_exam_id_in, subject.exams.all, :id, :displayname, :class => 'exams_class' do |check| %>
			<%= check.box %>
				<%= check.label %>
		<% end %>
		<% if subject != @subjects.last %>
		<hr/>
		<% end %>
		</div>

		<% end %>
	
</div>
	
<hr/>

	
<%= f.submit "Search", :class=>'btn btn-primary btn-large' %>
<a class="btn btn-primary btn-large" href="<%= students_path %>" />View All</a>
	<% end #end form %>
</div>
</div>

</div>

	<div class="span9">
	<h2>Welcome, <% if @user  %> 
		<%= @user.name %>
	<% end %>
	</h2>


	<div class="info_block">
	<p>Welcome to the Administration Dashboard.  Here you can view the status of student applications to the Early Readiness High School Graduation Option from your district.</p>
	</div>