<%= simple_form_for @student, :html => {:class => 'form-horizontal'} do |f| %>
<% if @student.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>
	<ul>
		<% @student.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>
<div class="row">
	<div class="span4">
<%= f.input :eid, :as => :hidden %>
<%= f.input :name %>
<%= f.input :address1 %>
<%= f.input :address2 %>
<%= f.input :city %>
<%= f.input :state, :collection => us_states %>
<%= f.input :zip %>
</div>
<div class="span4">

<%= f.input :residency, :collection => us_states %>
<%= f.input :email %>
<%= f.input :birthday %>
<%= f.association :gender, :as => :radio_buttons, :label_method  => :gender %>
<%= f.input :highschool_name %>
</div>
</div>
<hr />
<h2>Exams I Intend to Submit</h2>
<p class="note">Students must submit at least one eligible exam in each of the four core subject areas (Math, English, Science, Social Sciences, and a language other than English).  For 2012-13, students must also take the ACT ENGAGE College diagnostic assessment of college readiness; UT Austin will contact students with additional information.</p>

<% @subjects.each do |subject| %>
  <%= f.association :exams, :collection => subject.exams.all, :as => :check_boxes, :label_method => :displayname, :label => subject.name %>

<% end %>

<p class="note">Contact the program administrator for questions about additional language assessments</p>

<hr />
<h2>Questions</h2>
<% i = 0 %>
<%= f.simple_fields_for :question_responses do |builder| %>
   <%= builder.hidden_field :question_id %>
  
  <%= builder.input :text, :as => :text, :label => @questions[i].text, :cols => 80 %>

  <% i+=1 %>
<% end %>
<%= f.association :universities, :collection => @universities, :as => :check_boxes, :label => 'Would you be interested in receiving application information about Spring admissions from', :label_method => 'Would you be interested in receiving application information about Spring admissions from' + :name + '?' %>
<div class="well">
<%=f.button :submit, "Register", :class=>'btn btn-primary btn-large'%>
</div>
<% end %> 
