<script type="text/javascript">
  $j = jQuery.noConflict();
  $j(document).ready(function(){

    $j('form').submit(function(){
        //console.log('hello');
        var valid_input = true;
        //console.log('Valid input is ' + valid_input+'.');
        
        $j('.subject_exams').each(function(){
          var oneChecked = false;
          //console.log('Valid input is ' + valid_input+' in .subject_exams each.');
          var n = $j(this).find('input:checked').length;
            //console.log(n + 'boxes checked in this subject');
            if(n>=1) {
              oneChecked = true;
            } else {
              $j(this).addClass('field_with_errors');
            }
            if (oneChecked == false) {
              valid_input = false;
              //console.log('Valid input is ' + valid_input+' because oneChecked is false.');
            }

          //console.log('Valid input is ' + valid_input+' at the end of the subject_exams loop.');
        });
                
        //console.log('Valid input is ' + valid_input+' just before we check if it is true or false.');        
        if (valid_input) {
         // return true;
          } else {
          
          if($j('#error_explanation').length>0){
            var error_count = parseInt($j('#error_explanation h2').html().split(' ')[0]) + 1;
            var error_message = error_count + ' errors prohibited this student from being saved:';
            console.log(error_message);
            $j('#error_explanation h2').empty();
            $j('#error_explanation h2').html(error_message);
             $j('#error_explanation ul').append('<li>You must select at least one exam from each subject!</li>');
          } else{
          $j('form').prepend('<div id="error_explanation"><h2>1 error prohibited this student from being saved:</h2><ul><li>You must select at least one exam from each subject!</li></ul>');
        }
          // alert('You must select at least one exam from each subject!');
          return false;
        }
});
  });

</script>
<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address1 %><br />
    <%= f.text_field :address1 %>
  </div>
  <div class="field">
    <%= f.label :address2 %><br />
    <%= f.text_field :address2 %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state %><br />
    <%= f.select :state, options_for_select(us_states,@student.state) %>
  </div>
  <div class="field">
    <%= f.label :zip %><br />
    <%= f.text_field :zip %>
  </div>
  <div class="field">
    <%= f.label :residency %><br />
    <%= f.select :residency, options_for_select(us_states,@student.state) %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :birthday %><br />
    <%= f.date_select :birthday %>
  </div>
  <div class="field">
    <%= f.label :gender %><br />
    <%= f.text_field :gender %>
  </div>
  <div class="field">
    <%= f.label :highschool %><br />
    <%= f.text_field :highschool %>
  </div>


  <h2>Exams</h2>
<div class="clear"></div>
  <% @subjects.each do |subject| %>
  <h3><%= subject.name %></h3>
   <div class="subject_exams">
   <% subject.exams.each do |exam| -%>
    <div>
      <%= check_box_tag :exam_ids, exam.id, @student.exams.include?(exam), :name => 'student[exam_ids][]' -%>
      <% if exam.subtopic %>
      <%= label_tag :exam_ids, exam.subtopic.name + ' ' + exam.name -%>
      <% else %>
      <%= label_tag :exam_ids, exam.subject.name + ' ' + exam.name -%>
      <% end %>
    </div>
  <% end -%>
    </div>
  <% end %>

    <h2>Survey Questions</h2>
    <div class="clear"></div>
  <% i = 0 %>
  <%= f.fields_for :question_responses do |builder| %>
        <%= builder.label @questions[i].text %>
        <%= builder.hidden_field :question_id %><br/>
           
        <%= builder.text_area :text, :rows => 3 %><br />
        <% i+=1 %>
<% end %>


  <div class="actions">
    <%= f.submit "Register" %>
  </div>
<% end %>


