<div class="row-fluid">
<%= render :partial => "dashboard" %>
<div class="page-header">
<h1>All students</h1>
</div>

  <div class="well">
<%= link_to 'New Student', new_student_path, :class=>'btn btn-primary' %> <a class="btn btn-primary" href="<%= students_path %>" />View All</a>

</div>

<% if @students.empty? %>

<div class="row-fluid">
 <div class="well"> <em>Sorry, no students found.</em></div>
</div>
<% else %>
<div class="row-fluid">
<div class="span12">
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Students</th>
    </tr>
  </thead>

  <% @students.each do |student| %>
    <tr>
      <td>
      
      <div class="row-fluid">

         <div class="span4"><h2><%= link_to student.name, student %> <a href="mailto:<%= student.email %>"><i class="icon-envelope"></i></a> </h2> </div>
         <div class="span4">
          <%if student.district %>
              <span class="label"><%= student.district.name %></span>
          <% end %>
          <% if student.highschool %>
          <a class="btn btn-mini" data-toggle="collapse" data-target="#student_<%= student.id %>_highschool">
            <%= student.highschool.name %> <span class="caret noscript expand_highschool"></span></a>
              <div id="student_<%= student.id %>_highschool" class="collapse">
                <address>
                  <p>
                <% if student.highschool.address1 %>
                <%= student.highschool.address1 %><br/>
                <% end %>
                <% if student.highschool.address2 %>
                <%= student.highschool.address2 %><br/>
                <% end %>
                <% if student.highschool.city %><%= student.highschool.city %>,<% end %> <% if student.highschool.state %><%= student.highschool.state %><% end %> <% if student.highschool.zipcode %><%= student.highschool.zipcode %><% end %>
              </p>
              </address>
              </div>
          <% end %>
         </div>
              
         <div class="span4">
            <div class="btn-toolbar pull-right">
              <div class="btn-group" data-toggle="buttons-checkbox">
                <a class="btn btn-mini noscript view_more" data-toggle="collapse" data-target="#student_<%= student.id %>">More <span class="caret"></span></a>
                 <a class="btn btn-mini noscript alt_view_link" data-toggle="collapse" href="students/<%= student.id %>">View</a>
              </div>

              <% if can? :edit, Student %> 
                <div class="btn-group">
                  <%= link_to 'Edit', edit_student_path(student), :class => 'btn btn-mini' %>
                </div>
              <% end %>
              <% if can? :destroy, Student %>  
                <div class="btn-group">
                <%= link_to 'Delete', student, confirm: 'Are you sure?', method: :delete, :class => 'btn btn-mini btn-danger' %>
                </div>

              <% end %>
            </div> 
            </div>   
            </div> 
          
<div id="student_<%= student.id %>" class="collapse">
 <br/>
 <div class="row-fluid">
  <div class="span1">&nbsp;</div>
  <div class="span5">
            
      <% if student.eid %>
        <h3><%= student.eid %></h3>
      <% end  %>


      <span class="email"><a href="mailto:<%= student.email %>"><%= student.email %></a></span>

      <address>
      <p><%= student.address1 %><br/>
          <% if student.address2? %> 
          <%= student.address2 %><br/>
          <% end %>
          <%= student.city %>, <%= student.state %> <%= student.zip %>
      <br/>
        <span><strong>Residency:</strong> <%= student.residency %></span>
      </p>
      </address>

     

      <p><% if student.gender %>
        <span class="label label-gender"><%= student.gender.gender %></span>
      <% end %>
  Born: <%= student.birthday.to_formatted_s(:long_ordinal) %></p>

    
      <% if student.universities %>
        <% student.universities.each do |university| %>
        <span class="label label-<%= university.shortname %>">Interested in <%= university.shortname.upcase.gsub('_','&') %></span>
        <% end %>
      <% end %>

<hr />
<div class="student_responses">
  <h3>Survey Responses</h3>
<% student.question_responses.each do |response| %>
<h6><%= response.question.text %></h6>
<p><%= response.text %></p>
<% end %>
</div>



</div>
<div class="span1">
  &nbsp;
</div>

<div class="span4">
    <h3>Exam scores</h3>
    <table class="exams_table table table-striped table-condensed">
    

    <% @subjects.each do |subject| %>
      <thead>
      <tr>
        <th colspan="100%"><h6><%= subject.name %></h6></th>
      </tr>  
    </thead>
        <tbody>
        <% student.exams.order('shortname').where(:subject_id => subject.id).each do |exam| %>


          <tr>
            
            <td><%= exam.displayname %></td>
            
            <td>
              <% if student.scores.where(:exam_id => exam.id).first.student_score  %>
                <% exam_score = student.scores.where(:exam_id => exam.id).first.student_score %>
                
                <% if exam_score >= exam.required_score %>
                
                  <a href="#" rel="tooltip" data-original-title="<%= student.name %> has met the required score of <%= exam.required_score.to_s %> for the <%= exam.displayname %> exam."><span class="badge badge-success"><%= exam_score %></span></a>
                
                <% else %>
                
                  <a href="#" rel="tooltip" data-original-title="<%= student.name %> has not met the required score of <%= exam.required_score.to_s %> for the <%= exam.displayname %> exam."><span class="badge badge-error"><%= exam_score %></span></a>
                
                <% end %> 
              
              <% else %>
              
                <a href="#" rel="tooltip" data-original-title="Scores for <%= student.name %> on the <%= exam.displayname %> exam are still pending. <% if student.gender %><% if student.gender.gender == 'Female' %>She<% elsif student.gender.gender == 'Male' %>He<% end %><% else %>This student<% end %> must recieve a score of <%= exam.required_score.to_s %> on this exam to meet the requirement."><span class="badge badge-warning">Pending</span></a>
              
              <% end %>
            
              </td>
          </tr>
          <% end %>
       
       </tbody>
    
       
<% end %>

 </table>
</div>


          </div>
      </td>
    </tr>
  <% end %>
</table>
<% end %>
</div>
</div>
</div>