<%= render :partial => "dashboard" %>

<h1>All students</h1>


<%= link_to 'New Student', new_student_path %>


<% @students.each do |student| %>
  <div class="student">
    <nav class="student_controls">
    <ul>
    <li><%= link_to 'Show', student %></li>
    <li><%= link_to 'Edit', edit_student_path(student) %></li>
    <li><%= link_to 'Destroy', student, confirm: 'Are you sure?', method: :delete %></li>
    </ul>
  </nav>
  <div class="student_information">
  <h2 class="student_name"><%= link_to student.name, student %></h2>
  <% if student.eid %><h3 class="student_eid"><%= student.eid %></h3><% end  %>
  <div class="clear"></div>
  <div class="student_address">
    <p><%= student.address1 %><br/>
        <% if student.address2? %> 
        <%= student.address2 %><br/>
        <% end %>
        <%= student.city %>, <%= student.state %> <%= student.zip %>
    </p>
    <span class-"student_residency"><strong>Residency:</strong> <%= student.residency %></span>
</div>
<div class="student_demographics">
    <div class="student_birthdate"><p><%= student.birthday.to_formatted_s(:long_ordinal) %></p></div>
    <% if student.gender %>
    <div class="student_gender"><p><%= link_to student.gender.gender, student.gender %></p></div>
    <% end %>
    <div class="student_highschool"><p><%= student.highschool %></p></div>
</div><div class="clear"></div>
<div class="student_universities">
  <% if student.universities %>
    <% student.universities.each do |university| %>
      <div class="<%= university.shortname %>"><%= link_to 'Interested in ' + university.shortname.upcase.gsub('_','&'), university %></div>
    <% end %>
   <% end %>
</div><div class="clear"></div>
    <span class="email"><a href="mailto:<%= student.email %>"><%= student.email %></a></span>
    <div class="clear"></div>
  </div>
<div class="student_exams">
  <h3>Exam scores</h3>

<% @subjects.each do |subject| %>
<div class="each_subject">
  <h4 class-"subject"><%= link_to subject.name, subject %></h4>
  <% student.exams.each do |exam| %>
    <% if exam.subject == subject %>
      <% exam_name_display = '' %>
      <% if exam.subtopic %>
        <% exam_name_display = exam_name_display +  exam.shortname %>
        <% if exam.subtopic.name.size <= 9 %>
          <% exam_name_display = exam_name_display + ' ' + exam.subtopic.name %>
        <% end %>
        <% if exam.subshortname %>
          <% exam_name_display = exam_name_display + ' ' + exam.subshortname %>
        <% end %>
      <% else %>
        <% if exam.shortname %>
          <% exam_name_display = exam_name_display + ' ' + exam.shortname + ' ' + subject.name %>
          <% if exam.subshortname %>
             <% exam_name_display = exam_name_display + ' ' + exam.subshortname %>
          <% end %>
        <% end %>
      <% end %>

  <%= link_to exam_name_display, exam %><br/>
  <% end %>
<% end %>
  </div>
<% end %>

</div>

<div class="student_responses">
<% student.question_responses.each do |response| %>
<div class="question_response">
<strong><%= response.question.text %></strong><br/>
<%= response.text %>
</div>
<% end %>
</div>
    <div class="clear"></div>
  
    </div>
<% end %>


<br />
