<%= render :partial => "dashboard" %>
<div class="page-header">
<h1>All students</h1>
</div>

<div class="row">
<div class="span12">
  <div class="well">
<%= link_to 'New Student', new_student_path, :class=>'btn btn-primary' %>
</div>
</div>
</div>
<% if @students.empty? %>

<div class="row">
 <div class="well"> <em>Sorry, no students found.</em></div>
</div>
<% else %>
<div class="row">
<div class="span12">
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Students</th>
    </tr>
  </thead>

  <% @students.each do |student| %>
    <tr>
      <td>
            <a class="btn btn-mini" data-toggle="collapse" data-target="#student_<%= student.id %>"><%= student.name %> <span class="caret"></span></a>
            <nav class="pull-right">
            <% if can? :edit, Student %> <%= link_to 'Edit', edit_student_path(student), :class => 'btn btn-mini' %><% end %>
            <% if can? :destroy, Student %>  <%= link_to 'Delete', student, confirm: 'Are you sure?', method: :delete, :class => 'btn btn-mini' %> <% end %>
          </nav>

          <div id="student_<%= student.id %>" class="collapse">

        <h2><%= link_to student.name, student %></h2>
              <% if student.eid %><h3><%= student.eid %></h3><% end  %>
  <div class="clear"></div>
  <address>
    <p><%= student.address1 %><br/>
        <% if student.address2? %> 
        <%= student.address2 %><br/>
        <% end %>
        <%= student.city %>, <%= student.state %> <%= student.zip %>
    </p>
    <span><strong>Residency:</strong> <%= student.residency %></span>
</address>
<p>
<% if student.universities %>
    <% student.universities.each do |university| %>
      <span class="btn btn-mini <%= university.shortname %>"><%= link_to 'Interested in ' + university.shortname.upcase.gsub('_','&'), university %></span>
    <% end %>
   <% end %></p>
    <span class="email"><a href="mailto:<%= student.email %>"><%= student.email %></a></span>

          </div>
      </td>
    </tr>
  <% end %>
</table>
</div>
</div>
<% end %>
