<div class="row-fluid">
<div class="span2">
&nbsp;
</div>
<div class="span8">
<% if AdminUser.find_by_eid(session[:eid]) %>
<%= link_to 'All Students', students_path %>
<% end %>
<div class="student">
	<h2><%= @student.name %> <a href="mailto:<%= @student.email %>"><i class="icon-envelope"></i></a></h2>
	<div class="clear"></div>
	<div class="span12">
	<dl class="dl-horizontal">
		<dt>
			Address
		</dt>
		<dd>
			<%= @student.address1 %>
			<br/>
			<% if @student.address2? %>
			<%= @student.address2 %>
			<br/>
			<% end %>
			<%= @student.city %>, <%= @student.state %> <%= @student.zip %>
		</dd>
		<dt>
			E-mail
		</dt>
		<dd>
			<a href="mailto:<%= @student.email %>"><%= @student.email %></a>
		</dd>
		<dt>
			Residency
		</dt>
		<dd>
			<%= @student.residency %>
		</dd>
		<dt>
			Birthday
		</dt>
		<dd>
			<%= @student.birthday.to_formatted_s(:long_ordinal) %>
		</dd>
		
		<% if @student.gender %>
		<dt>
			Gender
		</dt>
		<dd>
			<%= link_to @student.gender.gender, @student.gender %>
		</dd>
		<% end %>
		
		<dt>
			High School
		</dt>
		<dd>
			<%= @student.highschool_name %>
		</dd>
		<dt>
			Universities
		</dt>
		<dd>
		<% if @student.universities %>
		
			<% @student.universities.each do |university| %>
			<div class="<%= university.name %>">
				<%= link_to 'Interested in' + university.name, university %>
			</div>
			<% end %>
		
		<% end %>
		</dd>
	</dl>
	</div>
	<div class="exams">
		<h3>Exam scores</h3>
		<table class="table table-striped table-bordered">
			<% @student.exams.each do |exam| %>
			<tr>
				<td><%= exam.displayname %></td>
				<td>
						<% if @student.scores.where(:exam_id => exam.id).first.student_score  %>
                <% exam_score = @student.scores.where(:exam_id => exam.id).first.student_score %>
                
                <% if exam_score >= exam.required_score %>
                
                  <a href="#" rel="tooltip" data-original-title="<%= @student.name %> has met the required score of <%= exam.required_score.to_s %> for the <%= exam.displayname %> exam."><span class="badge badge-success"><%= exam_score %></span></a>
                
                <% else %>
                
                  <a href="#" rel="tooltip" data-original-title="<%= @student.name %> has not met the required score of <%= exam.required_score.to_s %> for the <%= exam.displayname %> exam."><span class="badge badge-error"><%= exam_score %></span></a>
                
                <% end %> 
              
              <% else %>
              
                <a href="#" rel="tooltip" data-original-title="Scores for <%= @student.name %> on the <%= exam.displayname %> exam are still pending. <% if @student.gender %><% if @student.gender.gender == 'Female' %>She<% elsif @student.gender.gender == 'Male' %>He<% end%><% else %>This student<% end %> must recieve a score of <%= exam.required_score.to_s %> on this exam to meet the requirement."><span class="badge badge-warning">Pending</span></a>
              
              <% end %>
				</td>
			</tr>
			<% end %>
		</table>
	</div>
	<div class="clear"></div>
	<hr />
	<div class="student_responses">
		<% @question_responses.each do |response| %>
		<div class="question_response">
			<h3><%= response.question.text %></h3>
			<p>
			<%= response.text %>
			</p>
		</div>
		<% end %>
	</div>
	<div class="clear"></div>
</div>
</div></div>
