<div class="row-fluid">
	<div class="span2">
	</div>
	<div class="span8">
	<ul class="pull-right nav nav-pills">
<% if AdminUser.find_by_eid(session[:eid]) %>
<li><%= link_to 'All Students', students_path %></li>
<% end %>
<% if can? :update, @student %>
   <li> <%= link_to 'Edit', edit_student_path(@student) %></li>
<% end %>
</ul>
<div class="student">

	<% if Student.find_by_eid(session[:eid]) %>
		<h3>Registration Complete</h3>
		<p>&nbsp;</p>
	<% end %>
	<div class="clear"></div>

	<h1><%= @student.name %> <a href="mailto:<%= @student.email %>"><i class="icon-envelope"></i></a></h1>
	<dl class="dl-horizontal">
		<dt>
			UT EID
		</dt>
		<dd>
			<%= @student.eid %>
		</dd>
		<dt>
			Address
		</dt>
		<dd>
			<%= @student.address1 %>
			<br/>
			<% if @student.address2? %>
			<%= @student.address2 %>
			<br/>
			<% end %>
			<%= @student.city %>, <%= @student.state %> <%= @student.zip %>
		</dd>
		<dt>
			E-mail
		</dt>
		<dd>
			<a href="mailto:<%= @student.email %>"><%= @student.email %></a>
		</dd>
		<dt>
			Residency
		</dt>
		<dd>
			<%= @student.residency %>
		</dd>
		<dt>
			Birthday
		</dt>
		<dd>
			<%= @student.birthday.to_formatted_s(:long_ordinal) %>
		</dd>
		
		<% if @student.gender %>
		<dt>
			Gender
		</dt>
		<dd>
			<%= @student.gender.gender %>
		</dd>
		<% end %>
		
		<dt>
			Highschool
		</dt>
		<dd>
			<p><strong><% if @student.highschool.name %><%= @student.highschool.name %><% end %></strong></p>
			<p>District: <% if @student.highschool.district %><%= @student.highschool.district.name %><% end %></p>
			<address>
			<% if @student.highschool.address1 %><%= @student.highschool.address1 %><% end %><br/>
			<% if @student.highschool.address2? %>
				<%= @student.highschool.address2 %><br/>
			<% end %>
			<% if @student.highschool.city %><%= @student.highschool.city %>,<% end %> <% if @student.highschool.state %><%= @student.highschool.state %><% end %> <% if @student.highschool.zipcode %><%= @student.highschool.zipcode %><% end %>
		</address>
		</dd>
		<dt>
			Universities
		</dt>
		<dd>
		<% if @student.universities %>
		
			<% @student.universities.each do |university| %>
			<div class="<%= university.name %>">
				<%= 'Interested in ' + university.name %>
			</div>
			<% end %>
		
		<% end %>
		</dd>
	</dl>

	<div class="exams clearfix">
		<h3>Exam scores</h3>
		<table class="table table-striped table-bordered">
			<% @student.exams.order('shortname').each do |exam| %>
			<tr>
				<td><%= exam.displayname %></td>
				<td>
						<% if @student.scores.where(:exam_id => exam.id).first.student_score  %>
                <% exam_score = @student.scores.where(:exam_id => exam.id).first.student_score %>
                
                <% if exam_score >= exam.required_score %>
                
                  <a href="#" rel="tooltip" data-original-title="<%= @student.name %> has met the required score of <%= exam.required_score.to_s %> for the <%= exam.displayname %> exam."><span class="badge badge-success"><%= exam_score %></span></a>
                
                <% else %>
                
                  <a href="#" rel="tooltip" data-original-title="<%= @student.name %> has not met the required score of <%= exam.required_score.to_s %> for the <%= exam.displayname %> exam."><span class="badge badge-error"><%= exam_score %></span></a>
                
                <% end %> 
              
              <% else %>
              
                <a href="#" rel="tooltip" data-original-title="Scores for <%= @student.name %> on the <%= exam.displayname %> exam are still pending. <% if @student.gender %><% if @student.gender.gender == 'Female' %>She<% elsif @student.gender.gender == 'Male' %>He<% end%><% else %>This student<% end %> must recieve a score of <%= exam.required_score.to_s %> on this exam to meet the requirement."><span class="badge badge-warning">Pending</span></a>
              
              <% end %>
				</td>
			</tr>
			<% end %>
		</table>
	</div>
	<div class="clear"></div>
	<hr />
	<div class="student_responses">
		<% @question_responses.each do |response| %>
		<div class="question_response">
			<h3><%= response.question.text %></h3>
			<p>
			<%= response.text %>
			</p>
		</div>
		<% end %>
	</div>
	<div class="clear"></div>
</div>
</div></div>
</div>
