<%= form_for(@score) do |f| %>
  <% if @score.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@score.errors.count, "error") %> prohibited this score from being saved:</h2>

      <ul>
      <% @score.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :student_score %><br />
    <%= f.text_field :student_score %>
  </div>
  <div class="field">
    <%= f.label :student %><br />
        <%= select("score", "student_id", @students.collect {|s| [ s.name, s.id ] }, {:include_blank => 'None'}) %>
  </div>
  <div class="field">
    <%= f.label :exam %><br />
    <%= select("score", "exam_id", @exams.collect {|e| [ e.name, e.id ] }, {:include_blank => 'None'}) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
