<%= simple_form_for(@highschool) do |f| %>
  <% if @highschool.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@highschool.errors.count, "error") %> prohibited this highschool from being saved:</h2>

      <ul>
      <% @highschool.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
  <div class="span4">
    <%= f.input :name %>
    <%= f.association :district, :as => :select, :label_method => :name %>
    <%= f.input :address1 %>
    <%= f.input :address2 %>
    <%= f.input :city %>
    <%= f.input :state, :collection => us_states %>
    <%= f.input :zipcode %>
  </div>

<div class="actions">
    <%= f.submit %>
  </div>
</div>
<% end %>
