<%= form_for(@interested_university) do |f| %>
  <% if @interested_university.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@interested_university.errors.count, "error") %> prohibited this interested_university from being saved:</h2>

      <ul>
      <% @interested_university.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :student %><br />
    <%= f.text_field :student %>
  </div>
  <div class="field">
    <%= f.label :university %><br />
    <%= f.text_field :university %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
