<p id="notice"><%= notice %></p>

<p>
  <b>Prompt:</b>
  <%= @question_option.prompt %>
</p>

<p>
  <b>Order:</b>
  <%= @question_option.order %>
</p>

<p>
  <b>Question:</b>
  <%= @question_option.question %>
</p>


<%= link_to 'Edit', edit_question_option_path(@question_option) %> |
<%= link_to 'Back', question_options_path %>
