<h1>Listing subjects</h1>



<% @subjects.each do |subject| %>
  <h2><%= link_to subject.name + '('+subject.exams.count.to_s+')', subject %></h2>
  <div class="section_actions">
    <ul>
    <li></td>
    <li><%= link_to 'Edit', edit_subject_path(subject) %></td>
    <li><%= link_to 'Destroy', subject, confirm: 'Are you sure?', method: :delete %></td>
  </ul>
</div>

<div class="clear"></div>
  <% if subject.subtopics.count > 0 %>
        <h3>Subtopics</h3>
        <% subject.subtopics.each do |subtopic| %>
          <p><%= link_to subtopic.name, subtopic %></p>
        <% end %>
  <% end %>

<% end %>


<br />

<%= link_to 'New Subject', new_subject_path %>
