<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @subject.name %>
</p>

<h2>Exams in this subject</h2>
<div class="clear"></div>
<p><%= link_to'Add New Exam', new_exam_path %></p>
<ul>
<% @subject.exams.each do |exam| %>
	<li><%= link_to @subject.name + ' ' + exam.name, exam %>.  <strong><%= exam.required_score %></strong></li>
<% end %>
</ul>
<%= link_to 'Edit', edit_subject_path(@subject) %> |
<%= link_to 'Back', subjects_path %>
