<h1>Listing exams</h1>

<table>
  <tr>
    <th>Subject</th>
    <th>Subtopic</th>
    <th>Name</th>
    <th>Short Name</th>
    <th>Required Score</th>
    <th>Students</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @exams.each do |exam| %>
  <tr>
    
    <td><%= exam.subject.name %></td>
    <% if !exam.subtopic %>
    <td>&nbsp;</td>
    <% else %>
    <td><%= exam.subtopic.name %></td>
    <% end %>
    <td><%= exam.name %></td>
    <% if exam.shortname %>

    <td><%= exam.shortname %>
        <% if exam.subshortname %>
        <%= exam.subshortname %>
        <% end %>
    </td>
        <% else %>
       <td> &nbsp;</td>
        <% end %>
        <td><%= exam.required_score %></td>
    <td><%= exam.students.count.to_s %></td>
    <td><%= link_to 'Show', exam %></td>
    <td><%= link_to 'Edit', edit_exam_path(exam) %></td>
    <td><%= link_to 'Destroy', exam, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Exam', new_exam_path %>
