<p id="notice"><%= notice %></p>
<p>
  <b>Subject:</b>
  <%= link_to @subject.name, @subject %>
</p>

<% if @subtopic %>
<p>
  <b>Subtopic:</b>
  <%= @subtopic.name %>
</p>
<% end %>

<p>
  <b>Name:</b>
  <%= @exam.name %>
</p>

<p>
  <b>Short Name:</b>
  <%= @exam.shortname %>
</p>
<p>
  <b>Required Score:</b>
  <%= @exam.required_score %>
</p>

<h2>Students With This Exam: <%= @students.count.to_s %></h2>
<div class="clear"></div>
<% @students.each do |student| %>
	<p><%= link_to student.name, student %></p>
<% end %>


<%= link_to 'Edit', edit_exam_path(@exam) %> |
<%= link_to 'Back', exams_path %>
