<%= form_for(@university) do |f| %>
  <% if @university.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@university.errors.count, "error") %> prohibited this university from being saved:</h2>

      <ul>
      <% @university.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

    <div class="field">
    <%= f.label :shortname %><br />
    <%= f.text_field :shortname %>
  </div>

 <div class="field">
    <%= f.label :section_id %><br /> 
    <%= select("university", "section_id", @sections.collect {|s| [ s.title, s.id ] }) %>
  
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
